- content_for(:page_header) do
  -# %p= link_to "#{t 'add'}  #{Tender.model_name.human}", new_admin_tender_path, :class => "bright_link"
  %h1= link_to t(:tenders), admin_tenders_path
-#= paginate @tenders

#index_wr
  = render 'index' 