-# 
  - if f.object.contractor.ved_contractor?
    = f.text_area_inline :tender_list, rows: 2, placeholder: "user@expample.com, guest@ex.ru, myved@test.cn"
    = f.text_area_inline :cost_calculation_list, rows: 2, placeholder: "user@expample.com, guest@ex.ru, myved@test.cn"

= f.text_area_inline :sea_freight_list, rows: 2, placeholder: "user@expample.com, guest@ex.ru, myved@test.cn"
= f.text_area_inline :sea_freight_execution_list, rows: 2, placeholder: "user@expample.com, guest@ex.ru, myved@test.cn"
