.maps_frame
  .buy_button_frame_in
    .main_page_box myVED – will help to sell goods in Russia
    .al_centered.bold You are a company and ...
    .maps2
    %ul.maps_list.abroad
      %li You sell the goods to the Russian market
      %li You want to start working with Russia
    .al_centered.upper.bold.dark_title 
      In this case <span class='lower'>my</span>ved will be usefull for you
    .full_text myVED is a simple website where you can resolve any issues related to the sale of goods in Russia, its delivery and customs clearance, obtaining  certificates, verification of contractors without intermediaries.
    -#.advertizing_self.dark_title= t(:advertizing_self)
    %br
    = start_for_free_button("supplier")