.maps_frame
  .buy_button_frame_in
    %h1.main_page_box
      Решайте все вопросы ВЭД в одном месте
    .al_centered.bold Вы юридическое лицо и ...
    .maps
    %ul.maps_list
      %li Вы ИМПОРТИРУЕТЕ <br/> в Россию
      %li Вы ЭКСПОРТИРУЕТЕ <br/> товар из России
      %li Вы планируете <br/> заняться этим
    .al_centered.upper.bold.dark_title 
      Тогда <span class='lower'>my</span>ved будет полезен для вас
    %p.full_text myVED - это простой и понятный сайт, на котором Вы можете без посредников решить любые вопросы, связанные с закупкой иностранного товара, его доставкой и таможенным оформлением, получением сертификатов, проверкой качества и многое другое.
    %p.full_text myVED - поможет Вам получить напрямую лучшие цены на рынке и при этом сэкономить Ваше время.
    -#.advertizing_self.dark_title= t(:advertizing_self)
    %br
    = start_for_free_button("buyer")