%h1 Редактировать тендер
- if notice
  %p#notice= notice
= render 'form'

-#= link_to t(:back), @tender, class: "minor_button"

-#= render 'messages/messages', resource: @tender, messages: @messages, receivers: @receivers
