body {
  width: 100%;
  background: #FFF;
  margin: 0 auto;
  padding: 0;
  font-family: Verdana, Arial;
}
p {
  margin: 0.6em 0;
}
h1, h2, h3 {
  font-size: 1.25em;
}
table {
  max-width: 700px;
  width: 98%;
  margin: 0 auto;
  margin-top: 15px;
  display: block;
  border-collapse: collapse;
}
table td {
  padding: 1em 0;
}
table img {
  max-width: 100%;
}
.pull-right {
  text-align: right;
}
.pull-center {
  text-align: center;
}
.sublist {
  margin-top: 1.0em;
}
.list img {
  margin-bottom: -10px;
}
ol > li {
  font-weight: bold;
  margin-top: 0.333em;
}
ul li {
  font-weight: normal;
  font-style: italic;
  list-style-type: disc;
}
.fixed {
  width: 70%;
  float: right;
}
img.test-myved-image {
  width: 150px;
  max-width: auto;
}
.third {
  width: 30%;
}
.fourth {
  width: 20%;
}
.small-txt {
  font-size: 0.8em;
}
.icon_img {
  padding-right: 10px;
}