<!-- FOOTER
      ============================================= -->
      
      <footer id="footer">
        <div class="container"> 
          <div class="row">
                

  <div id="footer_cont" class="col-sm-6 col-md-4">
           <p class="footer_p">По любым вопросам вы можете связаться с нами: </p>
           
            <div class="footer_p">
           <div class="feature-footer"><i class="fa fa-home"></i></div>
<div class="feature-box-content2"> 119019, Россия, Москва<br><b>Новый Арбат, д.21, Бизнес-центр 'Арбат'</b><br>(режим работы с 9:00 до 18:00)</span></div> 
 </div>
 
           <div> <div class="feature-footer"><i class="fa fa-phone"></i></div>
<div class="feature-box-content2"> <h2>+7(499) 686-01-86</h2></div> 
 </div>
                    
      <div>
           <div class="feature-footer"><i class="fa fa-envelope"></i></div>
<div class="feature-box-content2"><span style="margin-top:20px;"><a href="mailto:help@myved.com">help@myved.com</a></span></div> 
 </div>
 
          
          


          </div> 

                                
            <!-- Footer Social Icons -->
            <div id="footer_icons" class="col-sm-6 col-md-4 text-center">                                 
              <ul class="footer-socials clearfix">
                <li><a class="foo_social ico-facebook" href="https://www.facebook.com/myved"><i class="fa fa-facebook"></i></a></li>
                <!--<li><a class="foo_social ico-twitter" href="#"><i class="fa fa-twitter"></i></a></li>  -->
            <li><a class="foo_social ico-skype" href="callto:myved"><i class="fa fa-skype"></i></a></li>
                <li><a class="foo_social ico-linkedin" href="https://www.linkedin.com/company/9192204"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="foo_social ico-vk" href="http://vk.com/public76848798"><i class="fa fa-vk"></i></a></li>
                      
              <!--                  
                <li><a class="foo_social ico-instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a class="foo_social ico-pinterest" href="#"><i class="fa fa-pinterest"></i></a></li> 
                <li><a class="foo_social ico-dropbox" href="#"><i class="fa fa-dropbox"></i></a></li>
                <li><a class="foo_social ico-skype" href="#"><i class="fa fa-skype"></i></a></li>
                <li><a class="foo_social ico-youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a class="foo_social ico-tumblr" href="#"><i class="fa fa-tumblr"></i></a></li>
                <li><a class="foo_social ico-vimeo" href="#"><i class="fa fa-vimeo-square"></i></a></li>
                <li><a class="foo_social ico-flickr" href="#"><i class="fa fa-flickr"></i></a></li>
                <li><a class="foo_social ico-github" href="#"><i class="fa fa-github-alt"></i></a></li>
                <li><a class="foo_social ico-renren" href="#"><i class="fa fa-renren"></i></a></li>
                <li><a class="foo_social ico-vk" href="#"><i class="fa fa-vk"></i></a></li>
                <li><a class="foo_social ico-xing" href="#"><i class="fa fa-xing"></i></a></li>
                <li><a class="foo_social ico-weibo" href="#"><i class="fa fa-weibo"></i></a></li>
                <li><a class="foo_social ico-rss" href="#"><i class="fa fa-rss"></i></a></li>                   
              -->                   
              </ul>
            </div>   <!-- End Footer Social Icons -->
            
        
            <!-- Footer Navigation Menu -->
            <div id="footer_nav" class="col-sm-6 col-md-4">
            <div class="">
              <ul class="footer-nav clearfix">
                <li><a href="http://blog.myved.com" target='_blank'>Блог</a></li>
                <li><%= link_to 'Общие правила', privacy_path, class: 'help_item_icon', 'data-help-item-id' => HelpItem.find_by_title('main_page_privacy_poilcy').try(:id) %>
              </ul>
</div>
                <div id="footer_copy">
                <p>&copy; Все права защищены 2014. Компания <span>ООО майВЭД</span> <br>
                </p>
              </div>          
            </div>  <!-- End Footer Navigation Menu -->
            
                      
                      
          </div>  <!-- End row -->
<div class="row">

              </div>  <!-- End row -->
          
        </div>    <!-- End container -->    
      </footer> <!-- END FOOTER -->