<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="ru"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="ru"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="ru"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="ru"> <!--<![endif]-->

  <head>
  
    <!-- Basic -->
    <meta charset="utf-8">
    <title>Сервис myVED - все услуги ВЭД: расчет стоимости доставки груза, торги на доставку и закупку товара, выбор и проверка поставщика и многое другое. </title>
    <meta name="author" content="">
    <meta name="keywords" content="расчет стоимости доставки груза, стоимость доставки контейнера, рассчитать стоимость доставки товара, стоимость доставки товара из Китая, морская доставка, доставка морских контейнеров, морской фрахт, стоимость контейнерных перевозок, отправка контейнеров, таможенное оформление, проверка качества товара, сертификация груза">
    <meta name="description" content="myVED.com - сервис по решению любых вопросов импорта-экспорта. Это универсальный инструмент, позволяющий решить любые вопросы по ВЭД – от закупки до доставки товара, таможенного оформления, проверки качества и сертификации. Мы предлагаем автоматизацию рабочих процессов и единый документооборот.">   
    
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">   
      
    <!-- Libs CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">    
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/flexslider.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet"> 
    
    <!-- On Scroll Animations -->
    <link href="css/animate.css" rel="stylesheet">
    
    <!-- Template CSS -->
    <link href="css/style.css" rel="stylesheet">  
    
    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet"> 
                
    <!-- Favicons --> 
    <link rel="shortcut icon" href="img/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon.png">
      
    <!-- Google Fonts --> 


    <meta content="authenticity_token" name="csrf-param" />
        <meta content="GpG9dlw8oeapEIYtmx+aq478l1kQaErWMx5PKvO4UDA=" name="csrf-token" />
    
    <!-- Load stylesheets -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css"> 
     <link rel="stylesheet" type="text/css" href="news-box-js/news-box-layout.min.css" />
     
        <script src="news-box-js/js_assets/jquery-1.10.2.min.js"></script>
        <script src="news-box-js/news-box.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  
  </head>
    
  <body>
  
    <!-- PRELOADER
    ============================================= -->
        
    <div id="preloader">
      <div id="status"></div>
    </div>  
    
    <%= render "header" %>
    <!-- CONTENT WRAPPER
    ============================================= -->
    
    <div id="content-wrapper">
    
    
      <!-- INTRO
      ============================================= -->
      
      <section id="intro" class="intro-parallax">
        <div class="container">               
          <div class="row">
                    
            <!-- Intro Section Description -->    
            <div id="intro_description" class="col-sm-7 col-md-7">
            
              <!-- Intro Section Title -->
              <h1>Сайт <strong>для решения любых вопросов импорта-экспорта
</strong> </h1>
                
              <!-- Description #1 --> 
              <div class="intro_feature">
                <h3><i class="fa fa-check"></i> Лучшая цена на доставку грузов</h3>
                <p>Устройте простые торги по доставке и разом сравните ставки по разным портам и маршрутам (по морю и ж/д).</p>
              </div>
              
              <!-- Description #2 --> 
              <div class="intro_feature">
                <h3><i class="fa fa-check"></i> Только проверенные решения</h3>
                <p>На Ваши запросы отвечают только проверенные, прямые исполнители услуг со всего мира.</p>
              </div>
              
              <!-- Description #3 --> 
              <div class="intro_feature">
                <h3><i class="fa fa-check"></i>Все услуги по ВЭД в одном месте</h3>
                <p>Доставка всеми видами, расчет себестоимости, таможенное оформление, проверка качества, сертификация и многое другое.</p>
              </div>
              <!-- Description #3 --> 
              <div class="intro_feature">
                <h3><i class="fa fa-check"></i>Удобство использования</h3>
                <p>Сводные таблицы предложений, единые условия и порядок работы, оплата без наценок и единая отчетность, управление ВЭД в электронной форме.</p>
              </div>
              
                              
            </div>  <!-- End Intro Section Description -->  
            
            <!-- Intro Section Form -->   
            <div id="intro_form" class="col-sm-5 col-md-5">
            
              <!--Register form -->
              <div class="form_register">
                <h2> Получите доступ бесплатно </h2>
                
                <form accept-charset="UTF-8" action="/contractors" name="contactform" class="row" method="post">
                <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" />
<input name="authenticity_token" type="hidden" value="GpG9dlw8oeapEIYtmx+aq478l1kQaErWMx5PKvO4UDA=" /></div> 
                  
                  <div id="input_name" class="col-md-12">
                    <input id="contractor_full_name" class="form-control" type="text" name="contractor[full_name]" placeholder="Имя Фамилия"> 
                  </div>
                    
                    <div id="input_tel" class="col-md-12">
                    <input id="contractor_telephone_number" class="form-control" type="text" name="contractor[telephone_number]" placeholder="Телефон"> 
                  </div>
                  <div id="input_company" class="col-md-12">
                    <input id="contractor_title" class="form-control" type="text" name="contractor[title]" placeholder="Название компании"> 
                  </div>
                    <div id="input_email" class="col-md-12">
                    <input id="contractor_email" class="form-control" type="text" name="contractor[email]" placeholder="E-mail"> 
                  </div>
                  <div id="input_password" class="col-md-12">
                    <input id="contractor_password" class="form-control" type="password" name="contractor[password]" placeholder="Пароль"> 
                  </div>

                  <%= hidden_field_tag 'contractor[http_referer]', session[:http_referer] || 'no' %>
                
                  <div id="input_name" class="col-md-12">
                    <input type='checkbox' value='1' name='contractor[agree]' id='contractor_agree'>
                    
                    <label for='contractor_agree'>Я принимаю</label>
                    <%= link_to 'общие правила', privacy_path, 'data-help-item-id' => HelpItem.find_by_title('main_page_privacy_poilcy').try(:id) %>

                    <!-- <p class='subtext'>Мы гарантируем 100% конфиденциальность. Ваша информация не будет распространяться.</p> -->
                    <br>
                    <br>
                  </div>
                  
                  <!-- Submit Button -->
                  <div id="form_register_btn" class="text-center">
                  <input id="contractor_prof" name="contractor[prof]" type="hidden" value="buyer" />
                    <input class="btn btn-primary btn-lg" name="commit" type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ" id="submit">
                    
<!--                     <div class="btnn">  
           <a href="/contractors/sign_in"  class="btn btn-primary2 btn-xs" title="Вход в личный кабинет"> Войти в аккаунт </a></div>
                  </div>   -->
                                  
                </form> 
                
              </div>              
            </div>  <!-- End Intro Section Form -->
          
          </div>  <!-- End row -->  
          
        </div>     <!-- End container -->   
      </section>  <!-- END INTRO -->
      
      
      
        
      <!-- ABOUT-1
      ============================================= -->
      
      <section id="about-1">
      <div class="container"> 
        
        <!-- Section Tittle -->       
          <div class="row">
            <div class="col-sm-12 titlebar">
            
              <h1>Наш сервис будет полезен, если <strong>Вы: </strong></h1>
                  
            </div>
          </div>  <!-- End Section Tittle --> 
        
    <div class="row">     
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <img class="img-responsive" src="img/mp1.jpg" alt="image" />    
       
      <div class="caption">  
     <div class="hdr3">
   <h3>Импортируете товар в Россию</h3></div>
   <!--  Accordion -->
  <div id="accordion_holder"> 
 <ul class="accordion clearfix">
                  
<!-- Text #1 -->
<li id="text_1"> <a href="#text1" title="Расчет стоимости доставки груза">Торги по доставке груза </a>               
<div><p> Устраивайте простые торги по доставке грузов и получаете напрямую предложения от транспортных компаний со всего мира, который сами торгуются между собой за Ваш заказ. Сравните цены по разным портам и маршрутам (по морю и ж/д).</p>
</div> </li>        
                      
<!-- Text #2 -->
                  <li id="text_2">
                    <a href="#text2" title="Импорт товаров в РФ">Услуги по импорту товаров</a>                
                    <div>
                      <p>Получайте предложения от проверенных партнеров myVED по сертификации, страхованию, проверки качества товара и другим услугам
                      
                </p>
                    </div>                  
                  </li>
                      
                  <!-- Text #3 -->
                  <li id="text_3">
                    <a href="#text3" title="Закупка товаров">Торги по товару среди продавцов</a>                
                    <div>
                      <p> Приглашайте иностранных продавцов на myVED и устраивайте среди них торги по закупке товара по простым и понятным правилам.
 </p>
                    </div>                  
                  </li>

                </ul> 
                
              </div>  <!--  End Accordion -->
              
                    
     
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
  <img class="img-responsive" src="img/mp2.jpg" alt="image" />    
     
      <div class="caption">
   <div class="hdr3"> <h3> Экспортируете товары из России </h3></div>
   <!--  Accordion -->
  <div id="accordion_holder"> 
 <ul class="accordion clearfix">
                  
<!-- Text #1 -->
<li id="text_1"> <a href="#text1" title="Узнайте стоимость доставки груза в любую страну">Торги по доставке на экспорт</a>               
<div><p> Получайте выгодные решения по экспорту от международных логистических компаний. Работайте по лучшим ценам на рынке!</p>
</div> </li>        
                      
<!-- Text #2 -->
                  <li id="text_2">
                    <a href="#text2" title="Анализ поставщика">Проверка иностранного партнера</a>               
                    <div>
                      <p> Запрашивайте подробные и достоверные сведения о будущем иностранном партнере при заключении контракта.          
                </p>
                    </div>                
                  </li>
                      
                  <!-- Text #3 -->
                  <li id="text_3">
                    <a href="#text3" title="Экспорт товара из РФ">Оперативные решения по экспорту</a>               
                    <div>
                      <p> Оперативно получайте страховку на груз, сертификаты, отправляйте образцы и т.д.
 </p>
                    </div>                  
                  </li>

                </ul> 
                
              </div>  <!--  End Accordion -->
              
              
   
   
   
   
                
           </div>
    </div>
  </div>
  
 
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
  <img class="img-responsive" src="img/mp3.jpg" alt="image" />  
            <div class="caption">
    <div class="hdr3"> <h3 style="">Планируете начать работать</h3></div>
       
    <!--  Accordion -->
  <div id="accordion_holder"> 
 <ul class="accordion clearfix">
                  
<!-- Text #1 -->
<li id="text_1"> <a href="#text1" title="Рассчитать стоимость доставки груза">Правильно посчитать расходы</a>                
<div><p>Получайте полную калькуляцию будущих расходов по импорту-экспорту Ваших товаров и оценку возможных рисков
</p>
</div> </li>        
                      
<!-- Text #2 -->
                  <li id="text_2">
                    <a href="#text2" title="Аутсорсинг ВЭД">Найти готовое решение по ВЭД</a>                
                    <div>
                      <p>Воспользуйтесь полным аутсорсингом ВЭД или решайте по отдельности вопросы импорта/экспорта.

                      
                </p>
                    </div>                  
                  </li>
                      
                  <!-- Text #3 -->
                  <li id="text_3">
                    <a href="#text3" title="Анализ ВЭД">Организовать ВЭД с нуля
</a>                
                    <div>
                      <p> Пользуйтесь исполнением поручений на myVED. Мы разбили процессы исполнения (доставка, сертификация и т.д.) на отдельные шаги  с описанием конкретных действий, Вы не запутаетесь когда и что нужно делать.
</p>
                    </div>                  
                  </li>

                </ul> 
                
              </div>  <!--  End Accordion -->
              
      </div>
    </div>
  </div>
    
    
    
      </div>  <!-- End row -->  
        </div>     <!-- End container -->   
        </section>  <!-- END ABOUT-1 -->
      
        <!-- FEATURES
      ============================================= -->
      
      <section id="features">
        <div class="container"> 
        
          <!-- Section Title -->  
          <div class="row">
            <div class="col-md-12 titlebar2">
              <h1>Возможности <strong>сервиса myVED:</strong></h1>
               
            </div>
              
              
          <div class="col-md-12">   
            
              <ul>
                <!-- Feature Icon 1 -->
                <li id="feature_1">                         
                  <div class="col-sm-6 col-md-4 feature-box clearfix">  
                    <div class="feature-box-icon">
                      <i class="fa fa-anchor"></i>
                    </div>
                    
                    <div class="feature-box-content">
                      <h4>Торги по морской доставке</h4>
                      
                    </div>
                  </div>
                </li>
                
                <!-- Feature Icon 2 -->
                <li id="feature_2">                         
                  <div class="col-sm-6 col-md-4 feature-box clearfix">  
                  
                      <div class="feature-box-icon2">
                      <i class="fa fa-gavel"></i>
                    </div>
                        
                    <div class="feature-box-content">
                      <h4>Торги по товару среди продавцов</h4>
                              </div>
                  </div>
                </li>
                
                <!-- Feature Icon 3 -->
                <li id="feature_3">       
                  <div class="col-sm-6 col-md-4 feature-box clearfix">  
                           <div class="feature-box-icon3">
                        <i class="fa fa-calculator"></i>
                     </div>
                     
                    <div class="feature-box-content">
                      <h4 title="Калькулятор стоимости доставки груза">Калькулятор доставки</h4>
                      
                    </div>
                  </div>
                </li>
                                
                <!-- Feature Icon 4 -->
                <li id="feature_4">
                  <div class="col-sm-6 col-md-4 feature-box clearfix">  
                      <div class="feature-box-icon">
                       <i class="fa fa-plane"></i>
                    </div>
                    
                    <div class="feature-box-content">
                      <h4>Торги по авиадоставке</h4>
                      </div>      
                  </div>
                </li>
                
                <!-- Feature Icon 5 -->
                <li id="feature_5">                         
                  <div class="col-sm-6 col-md-4 feature-box clearfix">  
                    <div class="feature-box-icon2">
                       <i class="fa fa-umbrella"></i>
                    </div>
                    
                    <div class="feature-box-content">
                      <h4>Финансовая проверка продавца</h4>
                      
                    </div>
                </li>  
                 
                <!-- Feature Icon 6 -->
                <li id="feature_6">                         
                  <div class="col-sm-6 col-md-4 feature-box clearfix">  
                          <div class="feature-box-icon3">
                      <i class="fa fa-file-text"></i>
                    </div>
                    
                    <div class="feature-box-content">
                      <h4> Сертификация и страхование</h4>
                      
                    </div>  
                  </div>
                </li>
                                    
                
                <!-- Feature Icon 7 -->
                <li id="feature_7">                         
                  <div class="col-sm-6 col-md-4 feature-box clearfix">  
                      <div class="feature-box-icon">
                       <i class="fa fa-truck"></i>
                    </div>
                    
                    <div class="feature-box-content">
                      <h4>Торги по автодоставке</h4>
                      </div>
                  </div>
                </li>
                
                  <!-- Feature Icon 8 -->
                <li id="feature_8">                         
                  <div class="col-sm-6 col-md-4 feature-box clearfix">  
                  <div class="feature-box-icon2">
                        <i class="fa fa-search"></i>
                    </div>
                    
                    <div class="feature-box-content">
                      <h4>Аудит фабрики и проверка качества товара</h4>
                      </div>
                  </div>
                </li>
                
                <!-- Feature Icon 9 -->
                <li id="feature_9">                         
                  <div class="col-sm-6 col-md-4 feature-box clearfix">  
                       <div class="feature-box-icon3">
                       <i class="fa fa-money"></i>
                    </div>
                    
                    <div class="feature-box-content">
                      <h4>Финансовые услуги</h4>
                      </div>
                  </div>
                </li>
                
                
                <!-- Feature Icon 10 -->
                <li id="feature_10">                        
                  <div class="col-sm-6 col-md-4 feature-box clearfix">  
                    <div class="feature-box-icon">
                    <i class="fa fa-clock-o"></i>
                    </div>
                    
                    <div class="feature-box-content">
                      <h4>Торги по ж/д доставке</h4>
                      </div>  
                  </div>
                </li>
                              
                <!-- Feature Icon 11 -->
                <li id="feature_11">                        
                  <div class="col-sm-6 col-md-4 feature-box clearfix">  
                    <div class="feature-box-icon2">
                     <i class="fa fa-cubes"></i>
                    </div>
                    
                    <div class="feature-box-content">
                      <h4>Доставка сборных грузов и образцов</h4>
                      </div>
                  </div>
                </li>
                
                
                    <!-- Feature Icon 12 -->
                <li id="feature_12">                        
                  <div class="col-sm-6 col-md-4 feature-box clearfix">  
                    <div class="feature-box-icon3">
                       <i class="fa fa-puzzle-piece"></i>
                    </div>
                    
                    <div class="feature-box-content">
                      <h4>и многое другое</h4>
                      </div>
                  </div>
                </li>
                
                
              </ul>
            
            </div>   <!-- End col-md-12 -->
            

  <div class="col-md-12 titlebar2">
      <p>Внимание! Часть функционала находится в разработке и будет запущена в ближайшее время. Хотите быть в курсе - <a  id="GoToFooter" href="#call-to-action"> подписывайтесь на рассылку</a>! </p> 
            </div>
            
        </div>
          </div>
        
          <!-- Features Holder -->  
          <div class="row">
            <div class="col-md-12">   
            
              
            
            </div>   <!-- End col-md-12 -->
          </div>    <!-- End Features Holder -->  
          
        </div>     <!-- End container -->   
      </section>  <!-- END FEATURES -->
      
      <!-- ABOUT2 -->
      <section id="about-2" >
        <div class="container"> 
        
          <!-- Section Title -->  
          <div class="row">
            <div class="col-md-12 titlebar">
              <div class="hdr4"><h1>Что такое <strong>myVED ?!</strong></h1></div>
              <p>myVED призвана <strong>объединить всех участников ВЭД в одном месте </strong> и задать понятные и прозрачные правила игры.                </p>           
            </div>
          </div>
        
          <div class="row">
            <!--  About-1 Text -->  
            <div id="about-1-text" class="col-md-6">
<div class="alert alert-info" role="alert"><b>Наши принципы работы:</b> Удобство, Открытость, Качество.</div>           
            <p> Наш сервис будет полезен как компаниям, делающим первые шаги по закупке иностранного товара, так и компаниям давно работающим в этой сфере.</p>
            
            
            
            
                                        

                        
                            
              <!--  Accordion -->
              <div id="accordion_holder"> 
                
                <ul class="accordion clearfix">
                  
                  <!-- Text #1 -->
                  <li id="text_1">
                    <a href="#text1">Наши цели</a>  
                
                    
                    <div>Работая более 5 лет в сфере внешнеэкономической деятельности, мы были свидетелями проблем с которыми постоянно встречаются российские покупатели, иностранные продавцы и логистические компании. Поэтому мы решили, что пора сделать следующее:</br>
- создать сервис, решающий все сопутствующие вопросы ВЭД в одном месте </br>
- обеспечить передачу информации между целевыми участниками</br>
- снизить операционные трудозатраты на ведение ВЭД</br>
- сделать ВЭД доступным для всех участников</br>
                    </div>                  
                  </li>   
                  
                  <li id="text_2">
                    <a href="#text2">Как это работает?</a>                
                    <div><p>1. Регистрируетесь на myVED.com и получаете доступ в личный кабинет</br>
2. В личном кабинете выбираете нужную услугу  </br>
3. Заполняете форму запроса, индивидуально проработанную для конкретного случая. Форма пересылается специализированным контрагентам. </br> 
4. Получаете напрямую решения (предложение) от контрагентов. В случае Торгов - компании сами торгуются между собой за Ваш заказ. </br>
5. Выбираете лучшее предложение и начинаете работать        
                </p>
                    </div>                  
                  </li>       
                      
                  <!-- Text #2 -->
                  <li id="text_3">
                    <a href="#text3">Кто наши контрагенты?</a>                
                    <div>



                      <p> Для поиска лучших решений по каждому функционалу команда myVED  заранее отбирает и проверяет контрагентов со всего мира.</p>
<p>Контрагент - это прямой исполнитель услуги, обладающий опытом, компетенцией в данной сфере и имеющий все требуемые разрешения и сертификаты. </p>
<p>Мы не размещаем информацию о Ваших запросах в открытом доступе. На ваши запросы отвечают только профессиональные контрагенты.</p>
<p>Список функционала и компаний постоянно пополняется.</p>
                    </div>                  
                  </li>
                      
                  <!-- Text #3 -->
                  <li id="text_4">
                    <a href="#text4">Единый документооборот</a>               
                    <div>
                      <p> Забудьте о долгих мучениях, связанных с подписанием множества договоров, получением отчетных документов и сверок. Для удобства работы, мы предлагаем Вам воспользоваться единым договором с myVED. Какие это дает преимущества?
</p>

<p> 1. Единый договор и доступ ко всем контрагентам. 
Вам не нужно будет подписывать отдельно договор с каждым участником - выбирайте лучшее предложение и начинайте работать, все остальное сделает myVED.
</p>

<p> 2. Единые условия. Все условия контрагентов отражаются в удобной форме - Вам не нужно будет отдельно разбираться с каждым новым предложением.
</p>

<p> 3. Оплата без наценок и единая отчетность. 
Вы будете получать отчетные документы от myVED вовремя и в единой форме. Вам будет удобно отслеживать статусы по всем заказам и Вы не запутаетесь в платежах, вне зависимости со сколькими контрагентами Вы работаете.
 </p>
                    </div>                  
                  </li>

                </ul> 
                
              </div>  <!--  End Accordion -->
              
            </div>  <!-- End About-1 Text --> 
            
            <!-- About-1 Image --> 
            <div id="about-1-img" class="col-md-6 text-center">
              <img class="img-responsive" src="img/thumbs/startup-1.jpg" alt="image" />   
            </div>
          
          </div>  <!-- End row -->  
        </div>     <!-- End container --> 

      
      </section>  <!-- END ABOUT2 -->
      
  
    
      
        <!-- CALL TO ACTION
      ============================================= -->   
      <section id="call-to-action">
        <div class="container"> 
          <div class="row">
            <!-- Call To Action Content --> 
              <div class="col-sm-12 text-center">
              <h3 style="color:#fff;">Хотите читать свежие новости и полезные материалы? <b>Подписывайтесь на рассылку </b></h3>
              
              <!-- Newsletter Form -->            
            <div >              
              <div id="newsletter_form" class="col-sm-12">
                <div class="clearfix">
                  <form id="subscribe-form" class="subscribe-form" action="newsletter" method="post" data-remote="true">
                    <input type="email" name="email" class="subscribe-input" placeholder="Введите ваш e-mail адрес..">
                    <button type="submit" class="subscribe-submit">Отправить</button>
                  </form>
                </div>  
                <p id="newsletter-paragraph" class="pull-right"> Никакого спама! Только полезные материалы!</p>
              </div>
            </div>  <!-- End Newsletter Form -->
            
            </div>
            </div>
              
            
          
          </div>  <!-- End row -->  
        </div>     <!-- End container -->   
      </section>  <!-- END CALL TO ACTION -->
      
        
    
    <!-- BLOG
      ============================================= -->
      
      <section id="blog">
        <div class="container">
        
          <!-- Section Tittle -->       
          <div class="row">
            <div class="col-sm-12 titlebar">
              <h1>Публикации <strong>в нашем блоге</strong></h1>
              <p>Читайте интересные материалы и последние новости из мира экономики и торговли. </p>                
            </div>
          </div>  <!-- End Section Tittle --> 
          
        
          <div class="row">
          
            <!-- BLOG POST #1 -->
            <div class="col-sm-6 col-md-6">             
              <article id="blog_post_1" class="blog-post">
              
                <!-- Post Image -->
                <div class="col-md-12 col-lg-6">            
                  <div class="blog-post-img">
                    <img class="img-responsive" src="http://u9108.mass.hc.ru/wp-content/uploads/2014/10/p21.jpg" alt="Blog Image" />  
                  </div>
                </div>
                  
                <!-- Post Description -->
                <div class="col-md-12 col-lg-6">  
                  
                  <!-- Post Titlebar -->
                  <div class="blog-post-titlebar">
                    <h4><a href="http://blog.myved.com/576/">Кому ждать дополнительного контроля до конца года?</a></h4>
                  </div>

                  <!-- Post Summary -->
                  <div class="blog-post-desc">
                    <p>Импортеров ждут дополнительные проверки по выпущенным декларациям.. </p>
                  </div>
                    
                  <!-- Post Meta -->
                  <div class="blog-post-info">
          <a href="http://blog.myved.com/576/" title="Перейти к полной версии статьи"> 
           <button type="button" class="btn btn-primary btn-xs">Подробнее >></button>
            </a>
                  </div>
                    
                </div>  <!-- End Post Description -->
                
              </article>        
            </div>  <!-- END BLOG POST #1 -->
            
          
            <!-- BLOG POST #2 -->
            <div class="col-sm-6 col-md-6">               
              <article id="blog_post_2" class="blog-post">
              
                <!-- Post Image -->
                <div class="col-md-12 col-lg-6">    
                  <div class="blog-post-img">
                    <img class="img-responsive" src="http://u9108.mass.hc.ru/wp-content/uploads/2014/10/p22.jpg" alt="Blog Image" />  
                  </div>
                </div>
                
                <!-- Post Description -->
                <div class="col-md-12 col-lg-6">
                
                  <!-- Post Titlebar -->
                  <div class="blog-post-titlebar">
                    <h4><a href="http://blog.myved.com/?p=579"> ЦБ запретит оплачивать авансом импортные поставки?</a></h4>
                  </div>

                  <!-- Post Summary -->
                  <div class="blog-post-desc">
                    <p>Центробанк хочет запретить оплачивать импортные поставки авансом. </p>
                  </div>
                  
                  <!-- Post Meta -->
                  <div class="blog-post-info">
                  <a href="http://blog.myved.com/?p=579" title="Перейти к полной версии статьи"> 
           <button type="button" class="btn btn-primary btn-xs">Подробнее >></button>
            </a>
                  </div>
                  
                </div>   <!-- End Post Description -->
                
              </article>  
            </div>  <!-- END BLOG POST #2 -->
            
          </div>  <!-- End row -->   
          
          
          <div class="row"> 
          
            <!-- BLOG POST #3 -->
            <div class="col-sm-6 col-md-6">                         
              <article id="blog_post_3" class="blog-post">
              
                <!-- Post Video Link -->
                <div class="col-md-12 col-lg-6">
                
                  <div class="blog-post-img">
                    <img class="img-responsive" src="http://u9108.mass.hc.ru/wp-content/uploads/2014/10/p20.jpg" alt="Blog Image" />  
                  </div>
                
                </div>  
                  
                <!-- Post Description -->
                <div class="col-md-12 col-lg-6">
                  
                  <!-- Post Titlebar -->
                  <div class="blog-post-titlebar">
                    <h4><a href="http://blog.myved.com/?p=570">Повышенное внимание банков на импортные поставки из Казахстана</a></h4>
                  </div>

                  <!-- Post Summary -->
                  <div class="blog-post-desc">
                    <p>Такие меры Банка России направленны на контроль за отмыванием доходов преступным путем. </p>
                  </div>
                    
                  <!-- Post Meta -->
                  <div class="blog-post-info">
                        <a href="http://blog.myved.com/?p=570" title="Перейти к полной версии статьи"> 
           <button type="button" class="btn btn-primary btn-xs">Подробнее >></button>
            </a>
                  </div>
                    
                </div>   <!-- End Post Description -->
                
              </article>  
            </div>  <!-- END BLOG POST #3 --> 
            
            
            <!-- BLOG POST #4 -->
            <div class="col-sm-6 col-md-6">           
              <article id="blog_post_4" class="blog-post">
              
                <!-- Post Image -->
                <div class="col-md-12 col-lg-6">          
                  <div class="blog-post-img">
                    <img class="img-responsive" src="http://u9108.mass.hc.ru/wp-content/uploads/2014/09/p16.jpg" alt="Blog Image" />  
                  </div>
                </div>
                
                <!-- Post Description -->
                <div class="col-md-12 col-lg-6">
                
                  <!-- Post Titlebar -->
                  <div class="blog-post-titlebar">
                    <h4><a href="http://blog.myved.com/?p=555">Формулировки в кредитном договоре с банком, которые стоит проверить</a></h4>
                  </div>

                  <!-- Post Summary -->
                  <div class="blog-post-desc">
                    <p>Важно без спешки прочитать все пункты контракта, чтобы не пропустить скрытые ловушки в тексте. </p>
                  </div>
                  
                  <!-- Post Meta -->
                  <div class="blog-post-info">
                    <a href="http://blog.myved.com/?p=555" title="Перейти к полной версии статьи"> 
           <button type="button" class="btn btn-primary btn-xs">Подробнее >></button>
            </a>
                  </div>
                  
                </div>   <!-- End Post Description -->
                
              </article>  
            </div>  <!-- END BLOG POST #4 -->
            
          </div>  <!-- End row -->
          
          
          <!-- ALL POSTS BUTTON --> 
          <div id="all-posts" class="row">
            <div class="col-sm-12 text-center">
              <h3>Больше интересных и полезных материалов читайте <a href="http://blog.myved.com/">в нашем блоге</a></h3>
            </div>
          </div>  <!-- END ALL POSTS BUTTON -->
          
          
        </div>   <!-- End container -->   
      </section>  <!-- END BLOG -->
      
          
        <!-- FAQs
      ============================================= -->

      <%= render 'footer' %>
    
    </div>  <!-- END CONTENT WRAPPER -->
  
  
    <!-- EXTERNAL SCRIPTS
    ============================================= -->
    <script src="assets/application-e84ad0687fa1f7ec70db75a138390b02.js" type="text/javascript"></script>
    <script src="js/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>  
    <script src="js/retina.js" type="text/javascript"></script> 
    <script src="js/modernizr.custom.js" type="text/javascript"></script> 
    <script src="js/jquery.easing.js" type="text/javascript"></script>
    <script src="js/jquery.parallax-1.1.3.js" type="text/javascript"></script>
    <script src="js/jquery.validate.min.js" type="text/javascript"></script>
    <script defer src="js/jquery.flexslider.js" type="text/javascript"></script>
    <script src="js/jquery.accordion.source.js" type="text/javascript"></script>  
    <script src="js/owl.carousel.js" type="text/javascript"></script>
    <script src="js/waypoints.min.js" type="text/javascript"></script>  
    <script src="js/animations.js" type="text/javascript"></script>   
    <script src="js/custom.js" type="text/javascript"></script>
     <script src="news-box-js/news-box.min.js"></script>
    
<!-- Load all necessary JavaScript files -->

    <script src="js/vendor/jquery.counteverest.min.js"></script>

    <!-- Init Count Everest plugin -->
    <script>
      $(document).ready(function() {
        $(".countdown").countEverest({
          //Set your target date here!
          day: 10,
          month: 9,
          year: 2014,
          hoursWrapper: '.ce-hours .ce-flip-back',
          minutesWrapper: '.ce-minutes .ce-flip-back',
          secondsWrapper: '.ce-seconds .ce-flip-back',
          wrapDigits: false,
          onChange: function() {
            countEverestAnimate($('.countdown .col>div'), this);
          }
        });

        function countEverestAnimate($el, data) {
          $el.each( function(index) {
            var $this = $(this),
              $flipFront = $this.find('.ce-flip-front'),
              $flipBack = $this.find('.ce-flip-back'),
              field = $flipBack.text(),
              fieldOld = $this.attr('data-old');
            if (typeof fieldOld === 'undefined') {
              $this.attr('data-old', field);
            }
            if (field != fieldOld) {
              $this.addClass('animate');
              window.setTimeout(function() {
                $flipFront.text(field);
                $this
                  .removeClass('animate')
                  .attr('data-old', field);
              }, 800);
            }
          });
        }

        //Fallback for Internet Explorer
        if (navigator.userAgent.indexOf('MSIE') !== -1 || navigator.appVersion.indexOf('Trident/') > 0) {
          $('html').addClass('internet-explorer');
        }
      });
    </script>
    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <!-- Yandex.Metrika counter -->
    
<script>
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
      try {
        w.yaCounter23557672 = new Ya.Metrika({id:23557672,
          webvisor:true,
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true});
      } catch(e) { }
    });
  
    var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
  
    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
<div>
<img alt='' src='//mc.yandex.ru/watch/23557672' style='position:absolute; left:-9999px;'>
</div>
</noscript> 
<!-- /Yandex.Metrika counter -->

        
    <!-- Google Analytics -->
    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46869994-1', 'auto');
  ga('send', 'pageview');

</script>
    
    
  </body>

</html>